.card-holder {
    padding: 20px;
}
.category-card {
    border: 1px solid grey;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    align-items: center;
}
.category-card:hover, .category-card:active {
    background: darkblue;
    color: yellow
}

.link-decor {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding: 10px;
    align-items: center;
}
.card-holder h5 {
    font-size: 30px;

    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: italic;
    margin-bottom: 20px !important;
}
